## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [58]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [94]:
# Your code here

sample_list_1 = random.sample(range(1, 101), 80)
print(sample_list_1)
len(sample_list_1)
print(type(sample_list_1))

[10, 81, 93, 19, 96, 88, 38, 33, 54, 40, 85, 31, 43, 60, 97, 45, 58, 14, 66, 59, 61, 63, 8, 4, 1, 84, 53, 79, 7, 20, 57, 16, 23, 48, 69, 51, 44, 29, 90, 37, 76, 12, 73, 6, 2, 27, 9, 22, 55, 5, 26, 18, 42, 50, 41, 11, 47, 72, 17, 71, 94, 89, 49, 39, 24, 32, 35, 62, 82, 21, 46, 15, 28, 100, 36, 3, 99, 30, 25, 52]
<class 'list'>

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here

set1 = set(sample_list_1)
if len(set1) == 80:
    print("Efectivamente es 80 el largo del set")

Efectivamente es 80 el largo del set

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [19]:
# 
sample_list_2 = random.sample(range(0,100),80)
print(sample_list_2)
len(sample_list_2)
print(type(sample_list_2))

[80, 13, 72, 88, 38, 86, 32, 20, 85, 44, 7, 63, 58, 10, 65, 52, 34, 19, 83, 4, 1, 45, 67, 62, 33, 94, 92, 6, 15, 12, 16, 69, 90, 70, 21, 30, 11, 0, 2, 48, 93, 98, 89, 24, 23, 17, 79, 59, 55, 27, 71, 37, 87, 75, 22, 41, 49, 51, 8, 82, 40, 56, 81, 78, 84, 29, 26, 73, 25, 54, 64, 76, 95, 50, 5, 42, 97, 35, 99, 28]
<class 'list'>

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [20]:
set2 = set(sample_list_2)
if len(set2) == 80:
    print("Efectivamente es 80 el largo del set")

Efectivamente es 80 el largo del set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [99]:
set3 = set1.difference(set2)
print(set3)
print(type(set3))

{96, 66, 100, 39, 9, 43, 77, 46, 47, 18, 53, 57, 91, 60, 61}
<class 'set'>

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [100]:
set4 = set2.difference(set1)
print(set4)
print(type(set4))

{0, 1, 2, 4, 16, 25, 33, 34, 37, 41, 45, 48, 51, 55, 76, 80, 88, 93, 98}
<class 'set'>

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [101]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{5, 6, 7, 8, 10, 11, 12, 13, 15, 17, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 32, 35, 38, 40, 42, 44, 49, 50, 52, 54, 56, 58, 59, 62, 63, 64, 65, 67, 69, 70, 71, 72, 73, 75, 78, 79, 81, 82, 83, 84, 85, 86, 87, 89, 90, 92, 94, 95, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [102]:
# Your code 
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

76
80
15
19
61

#### Create an empty set called `set6`.

In [103]:
# Your code here

set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [106]:
# Your code here


set6 = set3.union(set5)
print(set6)

{5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 32, 35, 38, 39, 40, 42, 43, 44, 46, 47, 49, 50, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 75, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 94, 95, 96, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [107]:
# Your code here

if len(set1) == len(set6):
    print("Los sets son iguales")
else:
    print("No son iguales")

Los sets son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [108]:
resultado = set1.issubset(set2) 
print("Set1 not contain set2:", resultado)

resultado2 = set1.issubset(set3)
print("Set1 not containg set3:", resultado2)

Set1 not contain set2: False
Set1 containg set3: False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [109]:
# Your code here

set7 = set3.union(set4,set5)
print(set7)
set7 = set1.union(set2)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [110]:
# 

print('Return Value is', set1.pop())

Return Value is 5

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [111]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for x in set1:
    if x == list_to_remove(x)
    list_to_remove.pop()

SyntaxError: invalid syntax (<ipython-input-111-fb66d0875603>, line 3)